
html, body {
  font-family: "Segoe WP", "Segoe UI", "Arial", sans-serif;
  font-size: 13px;
  color: #262626;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

/* Statcheck logo and tag */

#statcheck-logo {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  width: 250px;
}

#statcheck-tag {
  margin: 0;
  margin-bottom: 2rem;
  
  text-align: center;
  font-size: 14px;
}

/* Tabs */

.nav-tabs {
  margin: 0;
  padding-left: 15px;
}

.tab-content {
  padding: 15px;
}

/* Code */

code {
  color: inherit;
  background: none;
  padding: 0;
}


/* Detected tests section */ 

#instructions h5 {
  font-weight: bold;
}

#run {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

#tests h5 {
  font-weight: bold;
}

.test_content {
  display: none;
  overflow: hidden;
  border: 1px solid transparent;
  border-color: #F5F5F5;
}

.test_content p {
  margin: 10px;
}

.collapsible {
  width: 100%;
  
  margin-top: 2px;
  margin-bottom: 0;
  padding: .75rem 1.25rem;

  border: none;
  outline: none;
  
  text-align: left;
  background-color: white;
  
  outline: 1px solid #ddd;
  
  cursor: pointer;
}

.collapsible:hover {
  background-color: rgba(218, 141, 86, 0.5);
  background-color: rgba(1, 1, 1, 0.1);
}

.collapsible:after {
  content: '\002B';
  color: #aaa;
  font-weight: normal;
  float: right;
  margin-left: 5px;
}

.expanded:after {
  content: "\2212";
}

.fa-warning {
  color: #da8d56;
}

.icon {
  display: inline-block;
  width: 18px;
}

.goto_button {
  margin: 0 0 5px 10px;
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

#settings h5 {
  font-weight: bold;
}

/* FAQ */

.panel {
  box-shadow: none;
}

.panel-group .panel {
  margin-bottom: -6px;
  border-radius: 0;
}

.panel-default > .panel-heading {
  background-color: whitesmoke;
}

.panel-title {
  color: #555;
  font-size: 13px;
  width: 100%;
}

.panel-body {
  padding: 15px 15px 0 15px;
}

.panel-body p {
  margin: 10px 0 10 10px;
  color: #555;
}

.panel-body ol {
  list-style-position: inside;
  padding-left: 0;
}

.panel-body ul {
  list-style-position: inside;
  padding-left: 0;
}

.panel-body li {
  text-indent: -15px;
  padding-left: 15px;
}

.collapsible-link {
  display: block;
  position: relative;
  width: 100%;
  padding-right: 18px;
}

.collapsible-link::after {
  position: absolute;
  top: 8px;
  right: 0;
  
  content: '\f107';
  transform: translateY(-50%);
  font-family: 'FontAwesome';
  font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::after {
  content: '\f106';
}

.cite_button {
  display: block;
  
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  width: 150px;
}