html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#statcheck-tag {
  margin-top: -2rem;
  margin-bottom: 2rem;
  
  text-align: center;
}

h3 {
  padding-top: 0.5em;
}

.container-fluid {
  width: 100%;
  padding: 0;
}

.nav-tabs {
  margin: 0;
  padding-left: 15px;
}

.tab-content {
  padding: 15px;
}

.tab-content ul {
  margin: 0;
  padding: 0;
  padding-left: 0.5em;
  list-style-position: inside;
}
 
.tab-content ol {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
 
.tab-content li {
  text-indent: -1em;
  padding-left: 1.5em;
}
 
code {
  color: inherit;
  background: none;
  padding: 0;
}

.cite_button {
  display: block;
  
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  width: 150px;
}
 
#statcheck-logo {
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 250px;
}

#check_button {
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

#results h5 {
  margin-top: 15px;
}

.icon {
  display: inline-block;
  width: 18px;
}

.collapsible {
  cursor: pointer;
  margin-top: 3px;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: #F5F5F5;
  border-bottom: 1px solid transparent;
}

.collapsible {
  padding: .75rem 1.25rem;
  margin-bottom: -4px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
}

.collapsible:after {
  content: '\002B';
  color: #da8d56;
  font-weight: 300;
  float: right;
  margin-left: 5px;
}

.clicked:after {
  content: "\2212";
}

.fa-warning {
  color: #da8d56;
}

#detected_tests:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

/* Edit to change clicked/hover color of detected tests */
.clicked, .collapsible:hover {
  background-color: rgba(218, 141, 86, 0.5);
  background-color: rgba(1, 1, 1, 0.1);
}

.test_content {
  display: none;
  overflow: hidden;
  border: 1px solid transparent;
  border-color: #F5F5F5;
}

.test_content p {
  margin: 10px;
}

.goto_button {
  margin: 0 0 5px 10px;
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}


/* FAQ */

.FAQ-collapsible {
  width: 100%;

  padding: 10px;
  
  font-size: 14px;
  text-align: left;
  
  color: #337ab7;
  background: white;
  border: solid lightgray 1px;
  margin-top: -1px;
  
  cursor: pointer;
}

.FAQ-collapsible:after {
  content: "\002B";
  color: #da8d56;
  font-weight: bold;
  float: right;
}

.FAQ-collapsible:hover {
  color: #da8d56;
}

.FAQ-active:after {
  content: "\2212";
  color: #da8d56;
}

.FAQ-content {
  max-height: 0;
  overflow: hidden;
  
  transition: max-height 0.2s ease-out;
  border: none;
  
}

.FAQ-content p {
  margin: 10px;
}

.FAQ-content ol, ul {
  margin: 10px;
}